$gutter: 20px; // Space between columns
$spacer: 20px !default;
$columns: 5; // Number of columns

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 400px,
  lg: 400px,
  xl: 500px,
  xxl: 500px,
);

@import "./functions";
@import "./mixins";
