.title {
  font-family: var(--font-display);
  text-transform: uppercase;
  &__pre {
    font-size: var(--font-size-lg);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--font-size-xl);
    line-height: 0.8;
  }
}

.card {
  background-color: #fff;
  border-radius: 18px;
  padding: 10px 15px;
}

a.btn {
  display: inline-block;
  background-color: var(--color-pink);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-copy);
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
