@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lilita+One&display=swap");

:root {
  --font-copy: "Inter", sans-serif;
  --font-display: "Lilita One", sans-serif;

  --font-size-sm: 24px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 50px;

  --color-red: #ff4242;
  --color-red-dark: #5a1b1b;

  --color-green: #368f00;

  --color-pink: #ff2875;

  --color-yellow: #ffe500;
  --color-yellow-dark: #ffc700;

  --color-blue: #00b3ff;
  --color-blue-dark: #0057ff;
}
