// CSS Reset
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "grid/grid-layout_variables";
@import "grid/grid-layout";

@import "variables";
@import "sections/sections";

body {
    font-family: var(--font-copy);
    font-size: var(--font-size-md);
}